1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

2. What is the difference between string and variable?

3. Describe three different data types.

4. What is an expression made up of? What do all expressions do?
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

7. What should the values of the following two terms be?
'spam' + 'spamspam';
'spam' * 3

8. Why is eggs a valid variable name while 100 is invalid?

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

Q1 Ans:

* --> experssion
'hello' --> value
-87.8 --> value
- --> expression
/ --> expression
+ --> expression
6 --> value

What is the difference between string and variable?

string is a value that is immutable. it is a stream of characters that can be stored in random access memory through a variable.


variable is a data holder in the random access memory. for example :

In [1]:
nameOfPerson = "SomeBody"

nameOfPerson is a variable data holder that holds the string "SomeBody"

Describe three different data types.

integer, float, string are some of the primitive data types ex:

In [3]:
i = 1
j = 12.34
s = "somestring"
print(type(i), type(j), type(s))

<class 'int'> <class 'float'> <class 'str'>

What is an expression made up of? What do all expressions do?

expression is made up of mathematical or logical operators along with operands which will yield a result if the expression is valid example:

In [6]:
expression = 1+2/3
expression

1.6666666666666665

#counter example:
expression = 12*/4

This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

asignment statement just assigns the data assigned to the variable.
expression is also a statement only extra thing is that, it will compute the expression and then assign it to the variable.

In [8]:
#After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

23

In [9]:
print(bacon)#since we are not re assigning the value of bacon to bacon + 1, it will still retain 22

22

In [10]:
#7. What should the values of the following two terms be?
print('spam' + 'spamspam'); # output will be concatenation of these two strings i.e., spamspamspam
print('spam' * 3);#output will be string spam concatenated thrice. i.e., spamspamspam

spamspamspam
spamspamspam

Why is eggs a valid variable name while 100 is invalid?
 eggs is a valid name, but 100 is a value and variable name cannot start with a digit or special character except _

What three functions can be used to get the integer, floating-point number, or string
version of a value?
int(), float(), str()

In [15]:
print(int('123'))
print(float('123'))
print(str(123.45))

123
123.0
123.45

Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos';

99 is an int type, and cannot concatenate two different data types, so the way to fix it is :

In [18]:
print('I have eaten' + ' 99 ' + 'burritos');

I have eaten 99 burritos